.mb2{
    margin-bottom: 15px;
}

.mt2{
    margin-top: 30px;
}

.mt3{
    margin-top: 45px;
}

h1{
    margin-top: 50px;
}

/*to have the text at a better palce*/
.page-banner .page-banner-inner {
    top: 80%;
}

/*to hide the sidebar*/
.sidebar {
    display: none;
}

/*Colors and stuff for heavily inspired from bootstrap*/
.nice_button{
    color: #fff;
    background-color: #007bff;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;

    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;

    margin-top: 40px;
    margin-bottom: 20px;
}
.nice_button:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0069d9;
}

.nice_button:disabled{
    color: #fff;
    background-color: #5f6165;
    border-color: #5f6165;
}

select {
    max-width: 100%;
    text-wrap: normal;
}

/*iframe are used for the histograms plots*/
.img-container {
    text-align: center;
    margin-bottom: 15px;
}
iframe{
    width: 100%;
    height: 500px;
    border: 0 none white;
}

/*change paragraph style, but leave the theme button unchanged*/
p:not(.light):not(.dark){
    font-size: 11pt;
    text-align: justify;
}

.center-children{
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    margin-bottom: 7px;
    content: "";
    display: table;
    clear: both;
}

/*columns style*/
.column {
    width: 49%;
}
.left{
    float: left;
    text-align: right;
}
.right{
    float: right;
    text-align: left;
}